.idea/
.vscode/

__pycache__/
*.pyc

# ZhuXiaozhi
test/
datasets/robotics/triangle_real_data
applications/Vison&Touch/log

*.pkl
*.pt
*.csd
*.onnx

applications/*/log/
ncu_*.csv
datasets/dme_vqa
datasets/medical-segmentation
sailgpu1*
log/

nsys_temp_file.txt
*.html